* {box-sizing: border-box}
        
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1.5vw;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

#Home {
    background-image: linear-gradient(110deg, rgb(215, 215, 216) 55%, rgb(44, 148, 132) 50%);
    color: black;
    display: none;
    padding: 100px 20px;
    height: 120%;
}
#About-Me,#Services,#Skills,#Contact{
    background-color: rgb(215, 215, 216);
    color: black;
    display: none;
    padding: 100px 20px;
    height: 130%;
}
.p2{
    line-height: 3.5;
    font-weight: bold;
    font-size: 2vw;
    margin-top: 7%;
}
i{
    font-size: 22px;
}
.p1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}
.p3{
    font-size: 1vw;
    text-align: center;
}
.design,.dev{
    border: 1px solid rgb(44, 148, 132);
    height: 50vh;
    width: 35%;
    margin: 7%;
    border-radius: 20px;
    box-shadow: 5px 12px 10px 3px rgb(31, 105, 94);
    overflow: auto;
}
.services{
    height: 500px;
    display: flex;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    float: right;
}
span{
    color:  rgb(41, 139, 125) ;
}
.row{
    margin-top: 5%;
    margin-left: 10%;
}
.col-4{
    padding: 10px;
    border: 1px solid black;
    width: 20%;
}
.name{
    width: 50%;
    margin-top: 7%;
}
.image1{
    height: 600px;
    float: right;
    margin-top: -25%;  
    overflow: auto;
}
.star{
    color: rgb(201, 201, 24);
    text-align: center;
    font-size: 1.5vw;
}
h3{
    text-align: center;
    margin-top: 10%;
    text-decoration: 3px solid black underline;
    color:  rgb(41, 139, 125);
    line-height: 2.5;
    font: bold;
}
.progress{
    margin-top: 5%;
    width: 70%;
    height: 35px;
    margin-left: 10%;
}
h4{
    text-align: center;
    text-decoration: 3px solid black underline;
    color:  rgb(41, 139, 125);
    font-size: 30px;
    font-weight: bolder;
    line-height: 3;
}
.progress-bar{
    font-weight: bolder;
    text-align: center;
}
.row{
 margin-left: 15%;
 width: 65%;
 background-color: rgb(41, 139, 125);
 border-radius: 2%;
 opacity: 100%;
}
.head3{
        text-align: center;
        margin-top: 10%;
        text-decoration: 3px solid black underline;
        color:  black;
        line-height: 2;
        font: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}